<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
<h1><div style="text-align:center"><font color='blue'>PREDICCION USANDO ALGORITMOS DE CLASIFICCION</font></div></h1>
<hr>
</br>
<h2><div style="text-align:center;">ingresa los valores</div></h2>
</br>


<div class="container" style="text-align:center">
	<div class='row'>
		<div class='col-xs-6 col-xs-offset-4'>
			<form method="POST" action="/prediccion">
				<div class ='form-group'>
					<label for="var_1">
<p class="font-weight-bold">Semestre</p>
</label>
<input type='text' name="var_1">

</div>

<div class='form-group'>
<label for="var_2">
<p class="font-weight-bold">Promedio</p>
</label>
<input type='text' name="var_2">

</div>
<input class="btn btn-primary" type='submit' value='Enviar'>
</form>
</div>
</div>

</div>
</body>
</html>